@import '../../assets/styles/mixins';

.form {
  max-width: 500px;

  margin-left: auto;
  margin-right: auto;

  @include flexbox(start, center);
  flex-direction: column;
  gap: 20px;
}

.btns {
  width: 100%;
  @include flexbox(start, center);
}
