@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.table {
  width: 100%;
  border-collapse: collapse;
}

.table,
.text {
  font-size: 12px;

  @include forTablet {
    font-size: 16px;
  }
}

.tr {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.th {
  text-align: left;
}

.td,
.th {
  max-width: 100px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding-top: 10px;
  padding-bottom: 10px;

  &:nth-child(1) {
    width: 5%;
  }

  &:nth-child(2) {
    width: 55%;
  }

  &:nth-child(3) {
    width: 30%;
  }

  &:nth-child(4) {
    width: 10%;
  }
}

.link {
  color: blue;
}
