@import '../../../../assets/styles/mixins';

.form {
  width: 100%;
  max-width: 500px;

  margin-left: auto;
  margin-right: auto;

  @include flexbox(start, center);
  flex-direction: column;
  gap: 20px;
}

.btns {
  width: 100%;

  @include flexbox(start, center);
  flex-direction: column;
  gap: 10px;

  @include forTablet {
    flex-direction: row;
    gap: initial;
  }
}
