@import '../../assets/styles/mixins';

$header-height: 70px;

.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;

  margin-left: auto;
  margin-right: auto;

  @include flexbox(flex-start, center);
  flex-direction: column;
}

.header {
  width: 100%;
  height: $header-height;

  @include flexbox();
  gap: 25px;

  padding-left: 20px;
  padding-right: 20px;

  background-color: lightcoral;
}

.logo {
  text-decoration: none;
  color: white;
}

.logoText {
  display: inline-block;

  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-left: auto;
}

.main {
  width: 100%;
  min-height: calc(100vh - #{$header-height});

  padding: 20px;
}
