@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.list {
  @include clearList();
  @include flexbox(flex-start, center);
}

.link {
  position: relative;
  display: inline-block;

  padding: 20px;

  text-decoration: none;
  color: $color-primary;

  transition: all $transition-time ease-in;

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  &.activeLink {
    color: white;
    transition: all $transition-time ease-in;
  }
}




