@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.nav {
  height: 100%;
}

.list {
  @include clearList();
  @include flexbox(flex-start, center);

  height: 100%;
}

.item {
  height: 100%;
}

.link {
  position: relative;
  @include flexbox();

  height: 100%;

  padding-left: 20px;
  padding-right: 20px;

  text-decoration: none;
  color: $color-primary;

  transition: all $transition-time ease-in;

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  &.activeLink {
    color: white;
    transition: all $transition-time ease-in;
  }
}




